// Colors
$first-color: #97271c;
$second-color: #ab5249;
$background-color: white;
$background-nav-color: rgb(248, 248, 248);
$text-nav-color: rgb(138, 138, 138);
$hover-text-nav-color: rgb(100, 100, 100);
$selected-text-nav-color: rgb(60, 60, 60);
$box-border-color: rgb(230, 230, 230);
$first-article-text-color: rgb(60, 60, 60);
$second-article-text-color: rgb(70, 70, 70);

$white: white;
$black: black;

// Font
$first-font: 'Roboto', sans-serif;
