// Variables
@import 'imports/_variables.scss';

// Variables
@import 'imports/_media-queries.scss';

// html 
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: $first-font;
  font-weight: 400;
}

// body
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: block;
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
  background-color: $background-color;
}

// Sections
@import 'imports/_header.scss';
@import 'imports/_nav-menu.scss';
@import 'imports/_footer.scss';
